/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2025
 */





/*-----------------------------------*\
  #PROPRIETE PERSONNALISER
\*-----------------------------------*/

:root { 
    /* Color */
  
    --primary: #B5A1E5; 
    --on-primary: #100E17; 
    --background: #131214;
    --on-background: #EAE6F2;
    --surface: #1D1C1F;
    --on-surface: #DDDAE5;
    --on-surface-variant: #7B7980; 
    --on-surface-variant-2: #B9B6BF;
    --outline: #3E3D40;
    --bg-aqi-1: #89E589;
    --on-bg-aqi-1: #1F331F;
    --bg-aqi-2: #E5DD89;
    --on-bg-aqi-2: #33311F;
    --bg-aqi-3: #E5C089;
    --on-bg-aqi-3: #332B1F;
    --bg-aqi-4: #E58989;
    --on-bg-aqi-4: #331F1F;
    --bg-aqi-5: #E589B7;
    --on-bg-aqi-5: #331F29;
    --white: hsl(0, 0%, 100%);
    --white-alpha-4: hsla(0, 0%, 100%, 0.04);
    --white-alpha-8: hsla(0, 0%, 100%, 0.08);
    --black-alpha-10: hsla(0, 0%, 0%, 0.1);
  
    /* Gradiant */
  
    --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
    --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);
  
    /* /////////////////////////Typographie ////////////////////*/
  
    /* Font family */
    --ff-nunito-sans: 'Nunito Sans', sans-serif;
  
    /* Font size */
    --heading: 5.6rem;
    --title-1: 2rem;
    --title-2: 1.8rem;
    --title-3: 1.6rem;
    --body-1: 2.2rem;
    --body-2: 2rem;
    --body-3: 1.6rem;
    --label-1: 1.4rem;
    --label-2: 1.2rem;
  
    /* Font weight */
    --weight-regular: 400;
    --weight-semiBold: 600;
  
    /* Box shadow */
  
    --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
    --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
  
    /* Border radius */
  
    --radius-28: 28px;
    --radius-16: 16px;
    --radius-pill: 500px;
    --radius-circle: 50%;
  
    /* Transition */
    --transition-short: 100ms ease;
  }
  
  
  
  
  /*-----------------------------------*\
    #REINITIALISATION
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  a,
  img,
  span,
  input,
  button {
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit; /* Pour que le lien soit de la couleur du texte */
  }
  
  
  img {
    height: auto; /* Pour que l'image ne soit pas déformée */
  }
  
  input,
  button {
    border: none;
    background: none;
    color: inherit;
    font: inherit;/* Pour que le bouton ait la même police que le texte */
  }
  
  input {
    width: 100%;
  }
  
  button {
    cursor: pointer;
  }
  
  sub {
    vertical-align: baseline; /* Pour que le texte soit aligné avec le texte */
  }
  
  sup {
    vertical-align: top; /* Pour que le texte soit aligné avec le haut */
  }
  
  sub, sup {
    font-size: 0.75em;
  }
  
  
  html{
    font-family: var(--ff-nunito-sans);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    font-size: var(--body-3);
    color: var(--on-background);
    background-color: var(--background);
    overflow: hidden;
    /* height: 300vh; */
  }
  
  :focus-visible { /* Pour que le focus ne soit visible que si l'utilisateur utilise le clavier */
    outline: 2px solid var(--white);
    outline-offset: 2px; /* Pour que l'outline ne soit pas coupé */
  }
  
  ::selection { /* Pour changer la couleur de la sélection */
    background-color: var(--white-alpha-8);
  }
  
  ::-webkit-scrollbar { /*Apparence de la scrollbar */
    width: 6px;
    height: 6px; /* POur le scroll horizontal */
  }
  
  ::-webkit-scrollbar-thumb { /* Apparence du curseur */
    background-color: var(--white-alpha-8);
    border-radius: var(--radius-pill);
  }
  /*----------------------------------*\
    #MATERIAL ICON
  \*-----------------------------------*/
  
  /* Charge une police personnalisée (ici, une police d'icônes) */
  @font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url('../font/material-symbol-rounded.woff2') format('woff2');
  }
  
  /* Définit les styles spécifiques pour afficher les icônes Material Symbols de manière cohérente et esthétique */
  .m-icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;/* Pour que les lettres soient espacées normalement */
    white-space: nowrap; /* white space  et word space empeche les icones de se casser ou de s'etendre sur plusieurs lignes*/
    word-wrap: normal;
    direction: ltr; /* Pour que les icones soient alignées de gauche à droite  */
    font-feature-settings: "liga"; /* Active les ligatures pour mapper les noms d'icônes */
    -webkit-font-feature-settings: "liga"; /* Active les ligatures pour mapper les noms d'icônes sur Safari et chrome*/
    -webkit-font-smoothing: antialiased; /* Pour que les icones soient plus nettes sur safari ou chrome */
    height: 1em;
    width: 1em;
    overflow: hidden; /* Pour que les icones ne dépassent pas de leur conteneur */
  }
  
  
  
  
  /*-----------------------------------*\
    #REUTILISATION STYLE
  \*-----------------------------------*/
  
  .conteneur {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
    padding: 16px;
  }
  
  .icon-btn {
    background-color: var(--white-alpha-8);
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-circle);
  }
  
  
  .etat {
    position: relative;
  }
  
  .etat:hover {
    box-shadow: var(--shadow-1);
  }
  
  .etat :is(:focus, :focus-visible){/* Pour que le focus ne soit visible pas  si l'utilisateur utilise le clavier */
    box-shadow: none;
  }
  
  .etat::before {
    content: '';
    position: absolute;
    inset: 0;/* Pour que l'élément prenne toute la place en supprimant les marges */
    border-radius: inherit;
    clip-path: circle(100% at 50% 50%);/* Découpe le pseudo-élément en un cercle parfait centré sur son parent */
    transition: var(--transition-short);
  }
  
  .etat:hover::before {
    background-color: var(--white-alpha-4);
  }
  
  .etat :is(:focus, :focus-visible)::before {
    background-color: var(--white-alpha-8);
    animation: ripple 250ms ease forwards;
  }
  
  
  @keyframes ripple {
    0% {
      clip-path: circle(0% at 50% 50%);
    }
  
    100% {
      clip-path: circle(100% at 50% 50%);
    }
  }
  
  .btn-primaire {
    background-color: var(--primary);
    color: var(--on-primary);
    height: 48px;
    line-height: 48px;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-inline: 16px;
    border-radius: var(--radius-pill);
  }
  
  .btn-primaire .span {
    font-weight: var(--weight-semiBold);
  }
  
  .btn-primaire[disabled] {
    background-color: var(--outline);
    color: var(--on-surface-variant);
    cursor: not-allowed;
  }
  
  .btn-primaire[disabled]::before {
    display: none;
  }
  
  .card {
    background-color: var(--surface);
    color: var(--on-surface);
  }
  
  .card-lg {
    border-radius: var(--radius-28);
    padding: 20px;
  }
  
  .card-ms {
    padding: 16px;
    border-radius: var(--radius-16);
  }
  
  .heading {
    color: var(--white);
    font-size: var(--heading);
    line-height: 1.1;
  }
  
  .titre-1 {
    font-size: var(--title-1);
  }
  
  .titre-2 {
    font-size: var(--title-2);
    margin-block-end: 12px;
  }
  
  .titre-3 {
    font-size: var(--title-3);
    font-weight: var(--weight-semiBold);
  }
  
  .body-1 {
    font-size: var(--body-1);
  }
  
  .body-2 {
    font-size: var(--body-2);
    font-weight: var(--weight-semiBold);
  }
  
  .body-3 {
    font-size: var(--body-3);
  }
  
  .label-1 {
    font-size: var(--label-1);
  }
  
  .label-2 {
    font-size: var(--label-2);
  }
  
  .fade-in {
    animation: fade-in 1000ms ease forwards;
  }
  
  @keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  
  
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header .btn-primaire .span {
    display: none;
  }
  
  
  .logo img {
    width: 150px;
  }
  
  .header .conteneur, .header-actions {
    display: flex;
    align-items: center;
  }
  
  .header .conteneur {
    justify-content: space-between;
  }
  
  .header-actions{
    gap: 16px;
  }
  
  .header .btn-primaire {
    padding-inline: 12px;
  }
  
  .vue-recherche {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: var(--surface);
    color: var(--on-surface);
    clip-path: circle(4% at calc(100% - 102px) 5%);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: clip-path 500ms ease;
  }
  
  
  .vue-recherche.active {
    opacity: 1;
    visibility: visible;
    clip-path: circle(130% at 73% 5%);
  }
  
  .recherche-wrapper {
    position: relative;
    border-block-end: 1px solid var(--outline);
  }
  
  /*Creation du loader */
  .recherche-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 24px;
    height: 24px;
    border: 3px solid var(--on-surface);
    border-block-start-color: transparent;
    border-radius: var(--radius-circle);
    animation: loading 500ms linear infinite;
    display: none;
  }
  
  @keyframes loading {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }
  
    100% {
      transform: translateY(-50%) rotate(1turn);
    }
  }
  
  .recherche-wrapper:has(.rechercher)::before {
    display: block;
  }
  
  .champ-recherche {
    height: 80px;
    line-height: 80px;
    padding-inline: 56px 16px;
    outline: none;
  }
  
  .champ-recherche::placeholder {
    color: var(--on-surface-variant-2);
  }
  
  .champ-recherche::-webkit-search-cancel-button {
    display: none;
  }
  
  .recherche-wrapper .principal-icon {
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translate(-50%, -50%);
  }
  
  .recherche-wrapper > .m-icon {
    display: none;
  }
  
  .recherche-wrapper .icon-btn {
    background-color: transparent;
    box-shadow: none;
  }
  
  .vue-recherche .vue-liste {
    padding-block: 8px 16px;
  }
  
  .vue-recherche .vue-item {
    position: relative;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-inline: 16px 24px;
  }
  
  .vue-recherche .vue-item :is(.m-icon, .item-sous-titre) {
    color: var(--on-surface-variant);
  }
  
  .vue-recherche .vue-item .item-lien {
    position: absolute;
    inset: 0;
    box-shadow: none;
  }
  /*-----------------------------------*\
    #MAIN
  \*-----------------------------------*/
  
  
  main {
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
  }
  
  
  article.conteneur {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);/* Pour que la colonne prenne toute la place disponible  avec un min de 0 et max de 1 */
    gap: 20px;
    height: 100%;
    overflow-y: auto; /* Pour firefox*/
    overflow-y: overlay; /* Pour chrome */
  }
  
  
  article.conteneur::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .article.conteneur:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-4);
  }
  
  article.conteneur::-webkit-scrollbar-button {
    height: 10px;
  }
  
  article.conteneur::before {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: var(--gradient-1);
    pointer-events: none;
    z-index: 1;
  }
  
  
  .section:not(:last-child) {
    margin-block-end: 16px;
  }
  
  
  
  
  /*-----------------------------------*\
    #METEO ACTUELLE
  \*-----------------------------------*/
  
  
  .meteo-actuel-card .emballage {
    margin-block: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  
  .meteo-actuel-card .meteo-icon {
    margin-inline: auto;
  }
  
  .meteo-actuel-card > .body-3 {
    text-transform: capitalize;
  }
  
  .meteo-actuel-card .meta-liste {
    margin-block-start: 16px;
    padding-block-start: 16px;
    border-block-start: 1px solid var(--outline);
  }
  
  .meteo-actuel-card .meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .meteo-actuel-card .meta-item:not(:last-child) {
    margin-block-end: 12px;
  }
  
  .meteo-actuel-card .meta-text{
    color: var(--on-surface-variant);
  }
  
  /*-----------------------------------*\
    #POINT FORTS
  \*-----------------------------------*/
  
  
  .prevision-card .titre-2 {
    margin-block-end: 0;
  }
  
  .prevision-card :is(.card-item, .icon-wrapper){
    display: flex;
    align-items: center;
  }
  
  
  .prevision-card .card-item:not(:last-child) {
    margin-block-end: 12px;
  }
  
  .prevision-card .icon-wrapper {
    gap: 8px;
  }
  
  
  .prevision-card .label-1 {
    color: var(--on-surface-variant);
    font-weight: var(--weight-semiBold);
  }
  
  .prevision-card .card-item > .label-1 {
    width: 100%;
    text-align: right;
  }
  
  
  
  
  /*-----------------------------------*\
    #PREVISION HORAIRE
  \*-----------------------------------*/
  
  
  .points-forts .m-icon {
    font-size: 3.2rem;
  }
  
  .points-forts-liste {
    display: grid;
    gap: 20px;
  }
  
  .points-forts-liste .titre-3 {
    color: var(--on-surface-variant);
    margin-block-end: 20px;
  }
  
  
  .points-forts-liste .card-ms {
    background-color: var(--black-alpha-10);
    position: relative;
  }
  
  .points-forts-card :is(.wrapper, .card-liste, .card-item){
    display: flex;
    align-items: center;
  }
  
  .points-forts-card .wrapper {
    justify-content: space-between;
    gap: 16px;
  }
  
  .points-forts .card-liste {
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 8px;
  }
  
  .points-forts .card-item {
    width: 50%;
    justify-content: flex-end;
    gap: 8px;
  }
  
  
  .points-forts .label-1 {
    color: var(--on-surface-variant);
  }
  
  .badge {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 2px 12px;
    border-radius: var(--radius-pill);
    font-weight: var(--weight-semiBold);
    cursor: help;
  }
  
  
  .badge.aqi-1 {
    background-color: var(--bg-aqi-1);
    color: var(--on-bg-aqi-1);
  }
  
  
  .badge.aqi-2 {
    background-color: var(--bg-aqi-2);
    color: var(--on-bg-aqi-2);
  }
  
  
  .badge.aqi-3 {
    background-color: var(--bg-aqi-3);
    color: var(--on-bg-aqi-3);
  }
  
  
  .badge.aqi-4 {
    background-color: var(--bg-aqi-4);
    color: var(--on-bg-aqi-4);
  }
  
  
  .badge.aqi-5 {
    background-color: var(--bg-aqi-5);
    color: var(--on-bg-aqi-5);
  }
  
  .points-forts-card.deux .card-item {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px 16px;
  }
  
  .points-forts-card.two .label-1 {
    margin-block-end: 4px;
  }
  
  /*-----------------------------------*\
    #PREVISION
  \*-----------------------------------*/
  
  
  
  .slider-conteneur {
    overflow: auto;
    margin-inline: 3px;
  }
  
  .slider-conteneur::-webkit-scrollbar {
    display: none;
  }
  
  .slider-liste {
    display: flex;
    gap: 12px;
  }
  
  .slider-liste:first-child {
    margin-block-end: 16px;
  }
  
  .slider-liste ::before, .slider-liste ::after {
    content: '';
    min-width: 4px;
  }
  
  .slider-item {
    min-width: 110px;
    flex: 1 1 100%;
  }
  
  .slider-card {
    text-align: center;
  }
  
  .slider-item .meteo-icon {
    margin-inline: auto;
    margin-block: 12px;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  
  .footer, .footer .body-3:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
  .footer {
    color: var(--on-surface-variant);
    text-align: center;
    gap: 12px 24px;
    margin-block-start: 28px;
    display: none;
  }
  
  .fade-in .footer {
    display: flex;
  }
  
  .footer .body-3:last-child {
    gap: 6px;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #CHARGEMENT 
  \*-----------------------------------*/
  
  
  .chargement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    /* display: grid; */
    place-items: center;
    z-index: 1;
    display: none;
  }
  
  .chargement::before {
    content: '';
    width: 48px;
    height: 48px;
    border: 4px solid var(--on-background);
    border-block-start-color: transparent;
    border-radius: var(--radius-circle);
    animation: loading 500ms linear infinite;
  }
  
  
  
  
  /*-----------------------------------*\
    #ERREUR SECTION
  \*-----------------------------------*/
  
  
  .erreur-contenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: var(--background);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 8;
  }
  
  .erreur-contenu .btn-primaire{
    margin-block-start: 20px;
  }
  
  
  
  
  #map {
    width: 100%;
    
    height: 400px;
    /* border: 2px solid #333; */
  }
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  
  /* Responsive pour les ecran plus large que 768px */
  
  
  @media (min-width: 768px) {
  
    .conteneur {
      padding: 24px;
    }
  
    .titre-1 {
      --title-1: 2.4rem;
    }
  
    .section > .titre-2 {
      margin-block-end: 16px;
    }
  
    .card-lg {
      padding: 24px;
    }
  
    .card-ms {
      padding: 20px;
      display: grid;
      grid-template-rows: min-content 1fr;
    }
  
    .badge {
      top: 20px;
      right: 20px;
    }
  
    .header-actions {
      gap: 24px;
    }
  
    .header .btn-primaire {
      padding-inline: 16px 24px;
    }
  
    .header .btn-primaire .span {
      display: block;
    }
  
    .vue-recherche {
      clip-path: circle(3% at calc(100% - 273px) 6%);
    }
  
  
    main {
      height: calc(100vh - 96px);
      height: calc(100svh - 96px);
    }
  
    article.conteneur {
      /* display: grid !important; */
      padding-block-start: 0;
      grid-template-columns: 288px minmax(0, 1fr);
      align-items: flex-start;
      gap: 24px;
    }
  
    .contenu-gauche {
      position: sticky;
      top: 0;
    }
    
    .section:not(:last-child) {
      margin-block: 20px;
    }
  
    .prevision-card .card-item:not(:last-child) {
      margin-block-end: 16px;
    }
    
  
    .points-forts-liste {
      grid-template-columns: 1fr 1fr;
    }
  
    .points-forts-card:nth-child(-n+2) {
      grid-column: span 2;
      height: 160px;
    }
  
    .points-forts-card:nth-child(n + 3) {
      height: 120px;
    }
  
    .points-forts .m-icon {
      font-size: 3.6rem;
    }
  
    .points-forts-card.un .card-item {
      width: 25%;
      flex-direction: column-reverse;
      gap: 8px;
    }
  
    .slider-conteneur {
      margin-inline: 0 -24px;
      border-bottom-left-radius: var(--radius-16);
      border-top-left-radius: var(--radius-16);
    }
  
    .slider-liste::before {
      display: none;
    }
  
    .slider-liste::after {
      min-width: 12px;
    }
    
  
    .prevision-horaire .card-ms {
      padding: 16px;
    }
  
    
  }
  
  
  /* Responsive pour les ecran plus large que 1200px */
  
  
  @media (min-width: 1200px) {
  
    :root {
      --heading: 8rem;
      --title-2: 2rem;
    }
  
  
    .conteneur {
      padding: 40px;
    }
  
    .card-lg {
      padding: 36px;
    }
  
    .card-ms {
      padding: 24px;
    }
  
    .titre-1 {
      --title-1: 3.6rem;
    }
  
    .points-forts-card.deux .card-item {
      column-gap: 24px;
    }
  
  
    .header .icon-btn {
      display: none;
    }
  
    .logo img {
      width: 200px;
    }
  
    .header {
      position: relative;
      height: 120px;
      z-index: 4;
    }
  
    .header .conteneur {
      padding-block: 0;
      height: 100%;
    }
  
    .vue-recherche,
    .vue-recherche.active {
      all: unset;
      display: block;
      position: relative;
      width: 500px;
      animation: none;
    }
  
    .recherche-wrapper {
      border-block-end: none;
    }
  
    .recherche-wrapper > .m-icon {
      display: block;
    }
  
    .champ-recherche,
    .vue-recherche .vue-liste {
      background-color: var(--surface);
    }
  
    .champ-recherche {
      height: 56px;
      border-radius: var(--radius-28);
    }
  
    .resultat-recherche,
    .vue-recherche:not(:focus-within) .resultat-recherche{
      display: none;
    }
  
    .vue-recherche:focus-within .resultat-recherche.active {
      display: block;
    }
  
    .vue-recherche:has(.resultat-recherche.active) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .vue-recherche .vue-liste {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 360px;
      border-radius: 0 0 var(--radius-28) var(--radius-28);
      overflow-y: auto; /* Pour firefox*/
      overflow-y: overlay;
    }
  
    .recherche-vue .vue-liste:empty {
      min-height: 120px;
    }
  
    .vue-recherche .vue-liste::-webkit-scrollbar-button{
      height: 20px;
    }
  
    .vue-recherche:is(:hover, :has(.vue-liste):hover) {
      filter: drop-shadow(var(--shadow-1));
    }
  
    .vue-recherche:is(:focus-within, :has(.vue-liste):focus-within) {
      filter: drop-shadow(var(--shadow-2));
    }
  
  
  
    main {
      height: calc(100vh - 120px);
      height: calc(100svh - 120px);
    }
  
    article.conteneur {
      grid-template-columns: 360px minmax(0, 1fr);
      gap: 40px;
    }
  
  
    .meteo-actuel .meteo-icon {
      width: 80px;
    }
  
    .prevision-card .titre-2 {
      --title-2: 2.2rem;
    }
  
    .points-forts-card:nth-child(-n+2) {
      height: 200px;
    }
  
    .points-forts-card:nth-child(n + 3) {
      height: 150px;
    }
  
    .points-forts .m-icon {
      font-size: 4.8rem;
    }
  
    .slider-liste {
      gap: 16px;
    }
  }
  
  
  /* Responsive pour les ecran plus large que 1400px */
  
  
  @media (min-width: 1400px){
    .points-forts-liste {
      grid-template-columns: repeat(4, 1fr);
    }
  
    
  }